@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://db.onlinewebfonts.com/c/e89eb1cff9eb261b0d77a4dea27f1ef1?family=Helvetica+W01+Light");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #262828;
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}
body .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  transition: all 200ms ease-in-out;
}

.header {
  transition: all 200ms ease-in-out;
  background: #f8f8f8;
  padding: 40px 0;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.header .logo-wrapper h1 {
  font-size: 22px;
  font-weight: 700;
  color: #262828;
  font-family: "Open Sans", sans-serif, "Helvetica W01 Light";
}
.header .logo-wrapper h1 a {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  padding: 5px 0;
}
.header .logo-wrapper h1 a::before {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: #262828;
  position: absolute;
  top: 0;
  left: 0;
}
.header .logo-wrapper h1 a::after {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: #262828;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header .nav-wrapper .nav-icon {
  transition: all 300ms linear;
  font-size: 24px;
}
.header .nav-wrapper .nav-bar {
  transition: all 300ms linear;
}
.header .nav-wrapper .nav-bar .nav-list {
  gap: 50px;
  margin-bottom: 0;
}
.header .nav-wrapper .nav-bar .nav-list .sec-link {
  font-size: 14px;
  list-style: none;
  transition: all 300ms ease-in-out;
}
.header .nav-wrapper .nav-bar .nav-list .sec-link:hover {
  transition: all 300ms ease-in-out;
  color: rgba(38, 40, 40, 0.5);
}
.header .social-icons i {
  transition: all 300ms ease-in-out;
  font-size: 32px;
}
.header .social-icons i:hover {
  transition: all 300ms ease-in-out;
  color: rgba(38, 40, 40, 0.5);
}

.banner .img-wrapper {
  position: relative;
}
.banner .img-wrapper .image-main .banner-image {
  display: block;
  width: 100vw;
  height: 110vh;
  background: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner .img-wrapper .image-main .banner-tag-text {
  position: absolute;
  bottom: 150px;
  left: 5%;
}
.banner .img-wrapper .image-main .banner-tag-text h4 {
  font-family: "Sen", sans-serif;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}
.banner .img-wrapper .image-abs {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
}
.banner .img-wrapper .image-abs .abstract-image {
  display: block;
  width: 100vw;
  height: 100px;
  background: url("../images/abstract.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.about {
  padding: 80px 0;
  background: #f8f8f8;
}
.about .sec-heading {
  font-family: "Sen", sans-serif;
  font-size: 6vmax;
  font-weight: 700;
}
.about .sec-heading a {
  display: inline-flex;
  flex-wrap: no-wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 300ms all ease-in-out;
  line-height: 60px;
}
.about .sec-heading a span {
  margin-right: 10px;
}
.about .sec-heading a i {
  font-size: 6vmax;
  transition: all 200ms ease-in-out;
}
.about .sec-heading a:hover {
  transition: 300ms all ease-in-out;
  color: #5c5c5c;
  letter-spacing: 12px;
}
.about .sec-heading a:hover i {
  scale: 1.2;
  transition: all 200ms linear;
  rotate: 180deg;
}
.about .textbox {
  margin: 30px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.about .about-blogs .contentBoxl {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}
.about .about-blogs .contentBoxl .img-box1, .about .about-blogs .contentBoxl .img-box2, .about .about-blogs .contentBoxl .img-box3 {
  border-radius: 5px;
  overflow: hidden;
  height: 550px;
}
.about .about-blogs .contentBoxl .img-box1 img, .about .about-blogs .contentBoxl .img-box2 img, .about .about-blogs .contentBoxl .img-box3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-blogs .contentBoxl .related-text {
  width: 90%;
  padding: 50px 0;
}
.about .about-blogs .contentBoxl .related-text h3 {
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 34px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
}
.about .about-blogs .contentBoxl .related-text p {
  font-family: "Helvetica W01 Light";
}
.about .about-blogs .contentBoxr {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: 0;
  margin-left: 10%;
}
.about .about-blogs .contentBoxr .img-box1, .about .about-blogs .contentBoxr .img-box2, .about .about-blogs .contentBoxr .img-box3 {
  border-radius: 5px;
  overflow: hidden;
  height: 550px;
}
.about .about-blogs .contentBoxr .img-box1 img, .about .about-blogs .contentBoxr .img-box2 img, .about .about-blogs .contentBoxr .img-box3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-blogs .contentBoxr .related-text {
  width: 90%;
  padding: 50px 0;
  margin-left: 10%;
}
.about .about-blogs .contentBoxr .related-text h3 {
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 34px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
}
.about .about-blogs .contentBoxr .related-text p {
  font-family: "Helvetica W01 Light";
}

.portfolio {
  position: relative;
  padding: 100px 0;
}
.portfolio .sec-heading {
  font-family: "Sen", sans-serif;
  font-size: 6vmax;
  font-weight: 700;
}
.portfolio .sec-heading a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 300ms all ease-in-out;
  line-height: 70px;
}
.portfolio .sec-heading a span {
  margin-right: 10px;
}
.portfolio .sec-heading a i {
  font-size: 6vmax;
  transition: all 200ms ease-in-out;
}
.portfolio .sec-heading a:hover {
  transition: 300ms all ease-in-out;
  color: #5c5c5c;
  letter-spacing: 12px;
}
.portfolio .sec-heading a:hover i {
  scale: 1.2;
  transition: all 200ms linear;
  rotate: 180deg;
}
.portfolio .gallery-wrapper {
  position: relative;
  z-index: 500;
}
.portfolio .gallery-wrapper .gallery-item {
  margin-top: 100px;
}
.portfolio .gallery-wrapper .gallery-item .contentgallery {
  height: 500px;
  width: 100%;
  visibility: hidden;
}
.portfolio .gallery-wrapper .gallery-item .contentgallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  padding: 80px 0;
}
.contact .sec-heading {
  font-family: "Sen", sans-serif;
  font-size: 6vmax;
  font-weight: 700;
}
.contact .sec-heading a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 300ms all ease-in-out;
  line-height: 70px;
}
.contact .sec-heading a span {
  margin-right: 10px;
}
.contact .sec-heading a:hover {
  transition: 300ms all ease-in-out;
  color: #5c5c5c;
  letter-spacing: 12px;
  line-height: 70px;
}
.contact .textbox {
  margin: 30px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.contact .contact-wrapper {
  width: 80%;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 15px -5px #c4c4c4;
  border-radius: 15px;
  padding: 70px 0;
  background-color: #f8f8f8;
  margin: 0 auto;
}
.contact .contact-wrapper label {
  font-family: "Sen", sans-serif;
}
.contact .contact-wrapper .form-control {
  border-color: #fff;
}
.contact .contact-wrapper .form-control:focus {
  border-color: #ececec;
  box-shadow: none;
}
.contact .contact-wrapper .form-btn {
  padding: 10px 0;
  border: none;
  font-family: "Sen", sans-serif;
  border-radius: 5px;
  transition: 200ms all ease-in-out;
}
.contact .contact-wrapper .form-btn:hover {
  transition: 200ms all ease-in-out;
  color: #5c5c5c;
  letter-spacing: 1.2px;
}

.footer {
  padding: 150px 0;
}
.footer .f-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer .f-content .own-name {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif, "Helvetica W01 Light";
  font-weight: 500;
  font-size: 24px;
}
.footer .f-content .logo-wrapper h1 {
  font-size: 28px;
  font-weight: 600;
  color: #262828;
  font-family: "Open Sans", sans-serif, "Helvetica W01 Light";
}
.footer .f-content .logo-wrapper h1 a {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  padding: 5px 0;
}
.footer .f-content .logo-wrapper h1 a::before {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: #262828;
  position: absolute;
  top: 0;
  left: 0;
}
.footer .f-content .logo-wrapper h1 a::after {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: #262828;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .f-content .social-links {
  display: flex;
  align-items: baseline;
  gap: 40px;
  color: #262828;
}
.footer .f-content .social-links .iconbox i {
  font-size: 28px;
}

@media only screen and (max-width: 768px) {
  .contact .contact-wrapper {
    width: 100%;
    border: none;
  }
  .sec-heading a:hover {
    transition: 300ms all ease-in-out;
    color: inherit !important;
    letter-spacing: inherit !important;
  }
  .sec-heading a:hover i {
    scale: 1 !important;
    transition: all 200ms linear;
    rotate: 180deg;
  }
  .about .about-blogs .contentBoxl {
    width: 100%;
  }
  .about .about-blogs .contentBoxl .related-text {
    width: 100%;
  }
  .about .about-blogs .contentBoxr {
    width: 100%;
    margin-left: 0%;
  }
  .about .about-blogs .contentBoxr .related-text {
    width: 100%;
    margin-left: 0%;
  }
}/*# sourceMappingURL=style.css.map */