@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://db.onlinewebfonts.com/c/e89eb1cff9eb261b0d77a4dea27f1ef1?family=Helvetica+W01+Light");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");

$font-hel: "Helvetica W01 Light";
$font-sans: "Open Sans", sans-serif;
$font-cinzel: "Cinzel", serif;
$font-pop: "Poppins", sans-serif;
$font-sen: "Sen", sans-serif;
$black-text: #262828;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: $black-text;
  font-family: $font-pop;
  a {
    text-decoration: none;
    color: inherit;
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 200ms ease-in-out;
  }
}
.header {
  transition: all 200ms ease-in-out;
  background: #f8f8f8;
  padding: 40px 0;
position: absolute;
z-index: 999;
top: 0;
left: 0;
right: 0;
.logo-wrapper {
    h1 {
      font-size: 22px;
      font-weight: 700;
      color: $black-text;
      font-family: $font-sans, $font-hel;
      a {
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        padding: 5px 0;
        &::before {
          display: block;
          content: " ";
          width: 100%;
          height: 2px;
          background: $black-text;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          display: block;
          content: " ";
          width: 100%;
          height: 2px;
          background: $black-text;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    .nav-icon {
      transition: all 300ms linear;
      font-size: 24px;
    }
    .nav-bar {
      transition: all 300ms linear;
      .nav-list {
        gap: 50px;
        margin-bottom: 0;
        .sec-link {
          font-size: 14px;
          list-style: none;
          transition: all 300ms ease-in-out;
          &:hover {
            transition: all 300ms ease-in-out;
            color: rgba($black-text, 0.5);
          }
        }
      }
    }
  }
  .social-icons {
    i {
      transition: all 300ms ease-in-out;
      font-size: 32px;
      &:hover {
        transition: all 300ms ease-in-out;
        color: rgba($black-text, 0.5);
      }
    }
  }
}
.banner {
  .img-wrapper {
    position: relative;
    .image-main {
      .banner-image {
        display: block;
        width: 100vw;
        height: 110vh;
        background: url("../images/banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .banner-tag-text {
        position: absolute;
        bottom: 150px;
        left: 5%;
        h4 {
          font-family: $font-sen;
          margin: 0;
          font-size: 18px;
          text-transform: uppercase;
          mix-blend-mode: difference;
        }
      }
    }
    .image-abs {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      width: 100%;
      .abstract-image {
        display: block;
        width: 100vw;
        height: 100px;
        background: url("../images/abstract.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
      }
    }
  }
}
.about {
  padding: 80px 0;
  background: #f8f8f8;
  .sec-heading {
    font-family: $font-sen;
    font-size: 6vmax;
    font-weight: 700;
    a {
      display: inline-flex;
      flex-wrap: no-wrap;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: 300ms all ease-in-out;
      line-height: 60px;

      span {
        margin-right: 10px;
      }
      i {
        font-size: 6vmax;
        transition: all 200ms ease-in-out;
      }
      &:hover {
        transition: 300ms all ease-in-out;
        color: #5c5c5c;
        letter-spacing: 12px;

        i {
          scale: 1.2;
          transition: all 200ms linear;
          rotate: 180deg;
        }
      }
    }
  }
  .textbox {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: $font-pop;
  }
  .about-blogs {
    .contentBoxl {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-top: 30px;
      .img-box1,.img-box2, .img-box3 {
        border-radius: 5px;
        overflow: hidden;
        height: 550px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .related-text {
        width: 90%;
        padding: 50px 0;

        h3 {
          padding-bottom: 20px;
          letter-spacing: 4px;
          font-size: 34px;
          word-spacing: 5px;
          text-transform: uppercase;
          font-family: $font-cinzel;
        }
        p {
          font-family: $font-hel;
        }
      }
    }
    .contentBoxr {
      display: flex;
      flex-direction: column;
      width: 90%;

      margin-right: 0;
      margin-left: 10%;
      .img-box1,   .img-box2, .img-box3 {
        border-radius: 5px;
        overflow: hidden;
        height: 550px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .related-text {
        width: 90%;
        padding: 50px 0;
        margin-left: 10%;
        h3 {
          padding-bottom: 20px;
          letter-spacing: 4px;
          font-size: 34px;
          word-spacing: 5px;
          text-transform: uppercase;
          font-family: $font-cinzel;
        }
        p {
          font-family: $font-hel;
        }
      }
    }
  }
}
.portfolio {
  // width: 100%;
  // height: 100%;
  // background: url("../images/bg-pattern.jpg");
  position: relative;
  padding: 100px 0;
  //  background-attachment: fixed;
  //  background-repeat: no-repeat;
  //  background-size: cover;
  .sec-heading {
    font-family: $font-sen;
    font-size: 6vmax;
    font-weight: 700;
    a {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      transition: 300ms all ease-in-out;
      line-height: 70px;

      span {
        margin-right: 10px;
      }
      i {
        font-size: 6vmax;
        transition: all 200ms ease-in-out;
      }
      &:hover {
        transition: 300ms all ease-in-out;
        color: #5c5c5c;
        letter-spacing: 12px;

        i {
          scale: 1.2;
          transition: all 200ms linear;
          rotate: 180deg;
        }
      }
    }
  }

  .gallery-wrapper {
    position: relative;
    z-index: 500;

    //  .img1 {margin-top: 0;  }
    // .img2 {margin-top: 25vh }
    // .img3 {margin-top:50vh ;  }
    // .img4 {margin-top:-25vh  }
    // .img5 {margin-top: 0vh; }
    // .img6 { margin-top:25vh}
    // .img7 { margin-top: -25vh;}
    // .img8 {margin-top: 0vh}
    // .img9 { margin-top: 25vh;}
    // .img10 { margin-top: -25vh; }
    .gallery-item {
      margin-top: 100px;
      .contentgallery {
        height: 500px;
        width: 100%;
        visibility: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.contact {
  padding: 80px 0;
  .sec-heading {
    font-family: $font-sen;
    font-size: 6vmax;
    font-weight: 700;
    a {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      transition: 300ms all ease-in-out;
      line-height: 70px;

      span {
        margin-right: 10px;
      }

      &:hover {
        transition: 300ms all ease-in-out;
        color: #5c5c5c;

        letter-spacing: 12px;
        line-height: 70px;
      }
    }
  }
  .textbox {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: $font-pop;
  }
  .contact-wrapper {
    width: 80%;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 15px -5px #c4c4c4;
    border-radius: 15px;
    padding: 70px 0;
    background-color: #f8f8f8;
    margin: 0 auto;
    label {
      font-family: $font-sen;
    }
    .form-control {
      border-color: #fff;
      &:focus {
        border-color: #ececec;
        box-shadow: none;
      }
    }
    .form-btn {
      padding: 10px 0;
      border: none;
      font-family: $font-sen;
      border-radius: 5px;
      transition: 200ms all ease-in-out;
      &:hover {
        transition: 200ms all ease-in-out;
        color: #5c5c5c;
        letter-spacing: 1.2px;
      }
    }
  }
}
.footer {
  padding: 150px 0;
  .f-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .own-name {
      text-transform: uppercase;
      font-family: $font-sans, $font-hel;
      font-weight: 500;
      font-size: 24px;
    }
    .logo-wrapper {
      h1 {
        font-size: 28px;
        font-weight: 600;
        color: $black-text;
        font-family: $font-sans, $font-hel;
        a {
          position: relative;
          -webkit-user-select: none;
          user-select: none;
          padding: 5px 0;
          &::before {
            display: block;
            content: " ";
            width: 100%;
            height: 2px;
            background: $black-text;
            position: absolute;
            top: 0;
            left: 0;
          }
          &::after {
            display: block;
            content: " ";
            width: 100%;
            height: 2px;
            background: $black-text;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .social-links {
      display: flex;
      align-items: baseline;
      gap: 40px;
      color: $black-text;

      .iconbox {
        i {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact .contact-wrapper{
    width:100%;
    border: none;
  }
  .sec-heading a {
    &:hover {
      transition: 300ms all ease-in-out;
      color: inherit !important;
      letter-spacing: inherit !important;
      i {
        scale: 1 !important;
        transition: all 200ms linear;
        rotate: 180deg;
      }
    }
  }
  .about .about-blogs  .contentBoxl {
    width: 100%;

    .related-text {
      width: 100%;
    }
  }
  .about .about-blogs  .contentBoxr {
    width: 100%;

    margin-left: 0%;

    .related-text {
      width: 100%;

      margin-left: 00%;
    }
  }
}
